* {
  margin: 0;
  font-family: Roboto;
}

body {
  background-image: -webkit-linear-gradient(
    60deg,
    rgba(218, 169, 215, 0.637),
    rgba(128, 174, 235, 0.904)
  );
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
}

.center-link {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.background-home {
  background-image: url("../public/assets/travel-bg.jpg");
  background-size: 100%;
  background-position: "center center";
  height: 70em;
}

.city-image {
  width: 60%;
}

.home-image {
  width: 100%;
}
